* {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .navbar {
        padding: 5px;
        border: solid 1px black;
        background-color: rgb(92, 92, 243);
        align-content: center;
        margin-bottom: 10px;
    }

    .main-section {
        display: flex;
        width: 100%;
        flex-direction: space-between;
        .left {
            width: 75%;

            .data-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                height: 80px;
                margin-bottom: 10px;
                font-weight: bold;
                div {
                    display: flex;
                    justify-content: space-around;
                    img {
                        width: 20px;
                        height: 20px;
                        align-items: center;
                        justify-content: center;
                    }
                }

                div {
                    border: solid 1px black;
                    padding: 5px;
                    width: 300px;
                    height: 40px;
                    align-items: center;
                    text-align: center;
                }
                button {
                    color: white;
                    background-color: white;
                    outline: none;
                    border: none;
                }

                #input {
                    height: 40px;
                    border: none;
                    outline: none;
                }

                .buy-btn {
                    width: 50px;
                    height: 40px;
                    background-color: red;
                }

                .sell-btn {
                    width: 50px;
                    height: 40px;
                    background-color: green;
                }
            }

            .data-graph {
                border: solid 1px black;
            }
        }

        .right {
            border: solid 1px black;;
            width: 100%;
            padding: 5px;
            margin-left: 10px;
            div {
                margin: 5px;
            }
        }
    }
}

#messages {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.transactions {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
