.details {
    background-color: whitesmoke;
    height: 100vh;
}

.product-details-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 87);
    padding: 10px;
    color: white;
    height: 4rem;
    .product-details-navbar-left {
        display: flex;
        input {
            height: 2rem;
            width: 16rem;
        }
        margin-left: 8rem;
    }
}

.product-details {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: max-content;
    margin: auto;
    .upper {
        display: flex;
        justify-content: center;
        color: rgb(0, 0, 87);
        font-weight: bold;
        font-size: 2rem;
        margin: 20px;
    }

    .lower {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        gap: 15rem;

        .product-image {
            img {
                height: 22rem;
            }
        }

        .about-product {
            p {
                margin: 10px;
            }

            #model {
                font-weight: bold;
                font-size: 1.5rem;
            }

            #made-by {
                font-weight: bold;
                font-size: 1.5rem;
                color: gray;
            }

            #price {
                font-weight: bold;
                font-size: 1.2rem;
                color: rgb(14, 14, 63);
            }

            #desc-heading {
                font-weight: bold;
                font-size: 1.1rem;
            }

            #desc {
                font-size: 1rem;
                color: gray;
            }

            #ratings-and-count {
                display: flex;
                justify-content: space-between;
                margin: 10px;
                font-size: 1.2rem;
                color: rgb(62, 62, 63);
            }

            button {
                margin: 10px;
                font-weight: bold;
                color: rgb(59, 202, 228);
                border-color: none;
                font-size: 1.1rem;
            }
        }
    }
}