.addson-details {
    display: flex;
    flex-direction: column;

    .addson-heading {
        margin-left: 45px;
        margin-right: 45px;
        background-color: rgb(231, 118, 42);
        padding: 10px;
    }
}