.dates-details {
    display: flex;
    flex-direction: column;

    .date-heading {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgb(231, 118, 42);
        padding: 10px;
    }

    .dates {
        display: flex;
        margin: 5px;
        margin-left: 20px;
        gap: 20px;
        div {
            border: solid 1px gray;
            padding: 10px;
        }
    }
}