* {
    color: white;
    background-color: black;
    font-family: sans-serif;
}

#like-button-id {
    outline: none;
    border: none;
}

.mobile-navbar {
    display: none;
}

#post-button-id.fade-out {
    opacity: 0.5;
}

#desktop-like-img {
    display: none;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
}

.flexbox {
    display: flex;
    justify-content: space-around;

    .mobile-post-section {
        display: none;
    }

    .navigation-section {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;

        div {
            gap: 5px;
            padding: 2%;
            margin: 1px;
        }

        div {
            display: flex;
            width: 100%;

            div {
                width: 10%;
            }
        }

        .nav-button {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            div {
                padding: 10%;
            }

            button {
                padding: 10px;
                color: white;
                background-color: #1DA1F2;
                font-size: 1.2rem;
                border-radius: 25px;
                font-weight: bold;
            }

        }

        .name {
            font-weight: bold;
        }

        .twitter-id {
            color: gray;
        }

        .nav-profile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1rem;
            margin: 20px;

            .nav-profile-left {
                display: flex;
                flex-direction: row;
                gap: 10px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    div {
                        text-align: left;
                        text-wrap: nowrap;
                    }
                }
            }
        }
    }

    .nav-profile-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .post-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;

        hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 10px 0;
        }

        .tweet-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 20px;
            width: 600px;

            .input {
                display: flex;

                #post-input {
                    width: 100%;
                    height: 30px;
                    font-size: large;
                    color: gray;
                    border: none;
                    outline: none;
                    padding: 10px;
                }
            }

            .input-icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-left: 60px;

                .input-icons-left {
                    gap: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    div {
                        width: 20px;
                    }
                }

                .input-icons-right {
                    button {
                        padding: 8px;
                        color: white;
                        background-color: #1DA1F2;
                        font-size: 1rem;
                        font-weight: bold;
                        border-radius: 20px;
                        width: 100px;
                        margin-left: 80px;
                    }
                }
            }
        }

        .posts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px;
            width: 600px;

            .left {
                display: flex;
                gap: 10px;

                .main-post {
                    // fix the width of this main post
                    width: 500px;

                    // fix the width of this main post
                    // max-width: 200px;

                    // fix the height of this main post
                    // max-height: 200px;

                    // fix the width of this main post
                    // width: 100%;

                    // fix the height of this main post
                    // height: 100%;

                    // fix the width of this main post
                    .main-containt .blue-hashtag {
                        color: #1DA1F2;
                    }

                    .main-post-icons {
                        display: flex;
                        justify-content: space-between;

                        div {
                            width: 20px;
                        }
                    }
                }
            }

            .more-repost-section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                div {
                    width: 20px;
                }
            }
        }
    }

    .moblie-navbar {
        display: none;
    }

    .mobile-navigation {
        display: none;
    }

    .mobile-tweet-section {
        display: none;
    }

    #floating-post-button {
        display: none;
    }

}


@media screen and (max-width: 1100px) {

    .flexbox {
        .post-section {
            .tweet-box {
                width: 550px;
            }

            .posts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 20px;
                width: 550px;

                .left {
                    display: flex;
                    gap: 10px;

                    .main-post {
                        width: 450px;

                        .main-containt .blue-hashtag {
                            color: #1DA1F2;
                        }

                        .main-post-icons {
                            display: flex;
                            justify-content: space-between;

                            div {
                                width: 20px;
                            }
                        }
                    }
                }

                .more-repost-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    div {
                        width: 20px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 414px) {

    #mobile-liked-img {
        display: none;
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        width: 100%;

        .navigation-section {
            display: none;
        }

        .post-section {
            display: none;
        }

        .mobile-navbar {
            display: block;
            display: flex;
            justify-content: space-between;

            button {
                padding: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                outline: none;
                border: none;
            }
        }

        .mobile-navigation {
            display: none;
        }

        .mobile-navigation {
            display: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-weight: bold;

            div {
                padding: 5px;
                display: flex;


                .mobile-image-icons {
                    width: 30px;
                }

                div {
                    padding: 10px;
                }
            }

            .user-profile {
                display: flex;
                flex-direction: column;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .name-and-id {
                    display: flex;
                    flex-direction: column;

                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 0%;
                        margin-left: 0px;
                    }
                }
            }
        }

        .mobile-navigation {
            display: none;
        }


        .mobile-tweet-section {
            display: none;
        }



        .mobile-tweet-section {
            .tweet-box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 20px;

                .upper-section {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .upper-left {
                        width: 25px;
                    }

                    div {
                        display: flex;
                        justify-content: space-around;

                        div {
                            font-size: 1.2rem;
                            color: #1DA1F2;
                            margin: 10px;
                            font-weight: bold;
                        }

                        button {
                            text-align: center;
                            padding: 4px;
                            height: 35px;
                            color: white;
                            background-color: #1DA1F2;
                            font-size: 1.2rem;
                            // font-weight: bold;
                            border-radius: 20px;
                            width: 80px;
                        }
                    }
                }

                .input {
                    display: flex;

                    #mobile-post-input {
                        width: 100%;
                        font-size: large;
                        color: gray;
                        border: none;
                        outline: none;
                        padding: 10px;
                    }
                }

                .reply-section {
                    display: flex;
                    gap: 10px;

                    .globe-image {
                        width: 20px;
                    }

                    div {
                        color: #1DA1F2;
                        font-weight: bold;
                    }
                }

                .input-icons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .input-icons-left {
                        gap: 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            width: 20px;
                            height: 20px;
                        }

                        div {
                            width: 20px;
                        }
                    }

                    .input-icons-right {
                        button {
                            padding: 8px;
                            color: white;
                            background-color: #1DA1F2;
                            font-size: 1rem;
                            font-weight: bold;
                            border-radius: 20px;
                            width: 100px;
                            margin-left: 80px;
                        }
                    }
                }
            }
        }

        #mobile-like-button {
            outline: none;
            border: none;
        }

        #mobile-post-open-button {
            outline: none;
            border: none;
        }

        #floating-post-button {
            display: block;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
            width: fit-content;
            height: fit-content;
            position: fixed;
            bottom: 200px;
            right: 20px;
        }

        .mobile-post-section {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;



            .posts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 20px;

                .left {
                    display: flex;
                    gap: 10px;

                    .main-post {
                        .main-post-icons {
                            display: flex;
                            justify-content: space-between;

                            div {
                                width: 20px;
                            }
                        }
                    }
                }

                .more-repost-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    div {
                        width: 20px;
                    }
                }
            }
        }
    }
}