.transactions {
    border: 1px solid gray;
    height: 36vh;
    overflow-y: auto;
    margin: 15px;
    padding: 5px;
    p {
        margin: 5px;
        font-size: small;
    }
    .wrapper {
        border: 1px solid gray;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        div{
            margin:5px;
        }
    }
}